* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a {text-decoration: none;}
*:focus,
a:focus{ outline: none; }

textarea {resize: vertical;}

dl,
dd,
dt,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
  Classes
   ========================================================================== */
.__cb {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.__db {display: block;}
.__dib {display: inline-block;}
.__fl {float: left!important;}
.__fr {float: right!important;}
.__oh {overflow: hidden;}

.link-hover {text-decoration: underline;}
.link-hover:hover {text-decoration: none;}
.link-hover_u {text-decoration: none;}
.link-hover_u:hover {text-decoration: underline;}

.show {display: block !important;}
.hide {display: none;}
.invisible {visibility: hidden;}
.hidden {display: none !important; visibility: hidden !important;
}


/* ==========================================================================
   Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);

@font-face {
    font-family: 'RotondaC Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    src: local('RotondaC Bold'), url('../fonts/rotondac-bold.woff') format('woff');
}

/* ==========================================================================
   Typography
   ========================================================================== */
.__text-L {text-align: left;}
.__text-R {text-align: right;}
.__text-C {text-align: center;}
.__un {text-decoration: underline;}
.__ub {font-weight: 400;}
.__b {font-weight: 700;}
.__i {font-style: italic;}
.__n {font-style: normal!important;}

.__f10 {font-size: 10px!important;}
.__f11 {font-size: 11px!important;}
.__f12 {font-size: 12px!important;}
.__f13 {font-size: 13px!important;}
.__f14 {font-size: 14px!important;}
.__f15 {font-size: 15px!important;}
.__f16 {font-size: 16px!important;}
.__f17 {font-size: 17px!important;}
.__f18 {font-size: 18px!important;}
.__f19 {font-size: 19px!important;}
.__f20 {font-size: 20px!important;}
.__f21 {font-size: 21px!important;}
.__f22 {font-size: 22px!important;}
.__f23 {font-size: 23px!important;}
.__f24 {font-size: 24px!important;}
.__f25 {font-size: 25px!important;}
.__f26 {font-size: 26px!important;}
.__f27 {font-size: 27px!important;}
.__f28 {font-size: 28px!important;}
.__f29 {font-size: 29px!important;}
.__f30 {font-size: 30px!important;}

/* ==========================================================================
  Colors
   ========================================================================== */
.red    { color: #f30; }
.yellow { color: #ff0; }
.blue   { color: #496d99; }
.white  { color: #fff; }
.grey   { color: #666; }

/* ==========================================================================
   Lists
   ========================================================================== */
.list-block {
    font-size: 0;
    list-style: none outside none;
    padding-left: 0;
}

/* ==========================================================================
   Media Object
   ========================================================================== */
.media__item {
  float:left; 
  margin-right: 10px;
}

.media__body {
  overflow: hidden;
}

/* ==========================================================================
   Table settings
   ========================================================================= */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}   

/* ==========================================================================
   Self-clear floats
   ========================================================================= */
.clear-group:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
