<div class="form-container">
    <header class="more__header">Download the presentation to learn more!</header>
    <a href="/presentation.pdf" class="more__link-download">Download</a>
    <p class="more-text">Or leave a request and we'll call you back!</p>
    <form class="more__form" action="">
        {{block/form_fields}}
    </form>
    <a href="#" class="more__link-request">Leave a request</a>

    <div class="err">All fields is required</div>
    <div class="mail-ok">hanks for the post! We will answer as soon as possible.</div>
</div>